<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EventifySESAME{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Always include favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/eventifylogo.ico') }}" type="image/x-icon">

    {% block head %} {% endblock %}
</head>
<body class="bg-gray-50 font-sans leading-normal tracking-normal">
    <!-- Navbar -->
    <nav class="p-4 shadow-lg" style="background: linear-gradient(90deg, #b69dd9, #b8a7d7, #b1a1d6, #b2a3d8);">
    <div class="container mx-auto flex justify-between items-center">
        <a href="{{ url_for('home') }}" class="flex items-center">
            <img src="{{ url_for('static', filename='images/eventifylogo.png') }}" alt="Eventify Logo" class="h-10 w-auto mr-2">
        </a>
        <div class="space-x-4">
            <a href="{{ url_for('home') }}" class="text-white text- hover:text-blue-200 font-bold">Home</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="text-white  font-bold hover:text-blue-200">Logout</a>
                {% if current_user.is_admin %}
                    <a href="{{ url_for('admin') }}" class="text-white font-bold hover:text-blue-200">Admin Dashboard</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('login') }}" class="text-white  font-bold hover:text-blue-200">Login</a>
                <a href="{{ url_for('register') }}" class="text-white  font-bold hover:text-blue-200">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

    <div class="container mx-auto p-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="my-4">
                    {% for category, message in messages %}
                        <div class="p-2 rounded-lg mb-2 bg-{{ 'green' if category == 'success' else 'red' }}-500 text-white">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
