{% extends "base.html" %}
{% block title %}EventifySESAME Login{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">

</head>


<div class="login-container">
    <div class='bold-line'></div>
    <div class='container'>
        <div class='window'>
            <div class='overlay'></div>
            
            <div class='content'>
                <img style="margin-top: 10px;" src="{{ url_for('static', filename='images/eventifylogo.png') }}" alt="Eventify Logo">
                <div class='welcome' style="margin-top: 1px;">Hello There!</div>
                <div class='subtitle'>Log into your account to view our latest events.</div>

                <form action="{{ url_for('login') }}" method="POST">
                    <div class='input-fields'>
                        <input type='email' name='email' placeholder='Email' class='input-line full-width' required>
                        <input type='password' name='password' placeholder='Password' class='input-line full-width' required>
                    </div>
                    <div><button type="submit" class='ghost-round full-width'>Sign In</button></div>
                </form>
                
                <div class='subtitle'>Not registered yet? <a style="text-decoration: underline;" href="{{ url_for('register') }}" class="text-white hover:text-blue-200"> Create an account now!</a> </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
