{% extends "base.html" %}
{% block title %}EventifySESAME Register{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
       <link rel="icon" href="{{ url_for('static', filename='images/eventifylogo.ico') }}" type="image/x-icon">
   
</head>

<div class="login-container">
    <div class='bold-line'></div>
    <div class='container'>
        <div class='window'>
            <div class='overlay'></div>
            <div class='content'>
                <img style="margin-top: 10px;" src="{{ url_for('static', filename='images/eventifylogo.png') }}" alt="Eventify Logo">
                <div class='welcome'>Create Your Account</div>
                <div class='subtitle'>Sign up to manage and view events on EventifySesame.</div>
                <form action="{{ url_for('register') }}" method="POST">
                    <div class="input-fields">
                        <input type="text" name="first_name" placeholder="First Name" class="input-line full-width" required>
                        <input type="text" name="last_name" placeholder="Last Name" class="input-line full-width" required>
                        <input type="email" name="email" placeholder="Email" class="input-line full-width" required>
                        <input type="password" name="password" placeholder="Password" class="input-line full-width" required>
                    </div>
                    <div><button type="submit" class="ghost-round full-width">Register</button></div>
                </form>
                <div class="subtitle">Already have an account? <a style="text-decoration: underline;" href="{{ url_for('login') }}" class="text-white hover:text-blue-200">Log in here!</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
